{%  extends 'base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p>{{ event.date }}</p>
    <p>{{ event.location }}</p>
    <p>by <a href="{% url 'organizer' event.pk %}">{{ event.organizer }}</a></p>
    
    {% if user.is_authenticated %}
        {% if user == event.organizer %}
            <p><a href="{% url 'event_edit' event.pk %}">Edit</a></p>
            <p><a href="{% url 'event_delete' event.pk %}">Delete</a></p>
            <p><a href="{% url 'hosting' user.pk %}">Go to hosted events</a></p>
        {% else %}
            {% if user in attendees %}
                <form method="post" action="{% url 'event_leave' event.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Leave">
                </form>
            {% else %}
                <form method="post" action="{% url 'event_join' event.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Join">
                </form>
            {% endif %}
            <p><a href="{% url 'attending' user.pk %}">Go to joined events</a></p>
        {% endif %}
    {% endif %}
    
    <a href="{% url 'home' %}">Home</a>
    
{% endblock %}